.c {
  text-align: center;
  font-size: 20px;
}
body{
  margin: 0;
  padding: 0;
}
.p5Canvas{
  display: block;
}
button,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  font-family: 'Raleway', sans-serif !important;
}
